In [10]:
#data manipulation & storage
import pandas as pd
import numpy as np
#visualization
import seaborn as sb
from matplotlib import pyplot as plt
#imputation
from sklearn.impute import KNNImputer

In [11]:
def count_null(df):
    '''For a given dataframe, compute the number of missing values in each column of the dataframe'''
    null_counts = []
    for col in df:
        variable = {}
        count = df[col].isnull().sum()
        variable[col] = count
        null_counts.append(variable)
    return null_counts

In [12]:
df1 = pd.read_csv('GVP_Eruption_Results.csv')
df1

,Volcano Number,Volcano Name,Eruption Number,Eruption Category,Area of Activity,VEI,VEI Modifier,Start Year Modifier,Start Year,Start Year Uncertainty,...,Evidence Method (dating),End Year Modifier,End Year,End Year Uncertainty,End Month,End Day Modifier,End Day,End Day Uncertainty,Latitude,Longitude
0,264050,Sangeang Api,22434,Confirmed Eruption,NaN,NaN,NaN,NaN,2022.0,NaN,...,Historical Observations,NaN,2022.0,NaN,2.0,NaN,17.0,NaN,-8.200,119.070
1,262000,Krakatau,22433,Confirmed Eruption,NaN,NaN,NaN,NaN,2022.0,NaN,...,Historical Observations,NaN,2022.0,NaN,2.0,NaN,5.0,NaN,-6.102,105.423
2,264260,"Tara, Batu",22437,Uncertain Eruption,NaN,NaN,NaN,NaN,2022.0,NaN,...,Historical Observations,NaN,2022.0,NaN,1.0,NaN,31.0,NaN,-7.791,123.585
3,290360,Chikurachki,22435,Confirmed Eruption,NaN,NaN,NaN,NaN,2022.0,NaN,...,Historical Observations,NaN,2022.0,NaN,2.0,?,2.0,NaN,50.324,155.461
4,257040,Ambrym,22430,Confirmed Eruption,NaN,NaN,NaN,NaN,2022.0,NaN,...,Historical Observations,NaN,2022.0,NaN,2.0,NaN,2.0,1.0,-16.250,168.120
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11186,343150,"Yojoa, Lago",22387,Confirmed Eruption,NaN,NaN,NaN,NaN,-11073.0,173.0,...,Radiocarbon (corrected),NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.964,-87.983
11187,357121,Quetrupillan,22352,Confirmed Eruption,NaN,3.0,NaN,NaN,-11345.0,932.0,...,Radiocarbon (corrected),NaN,NaN,NaN,NaN,NaN,NaN,NaN,-39.496,-71.722
11188,390090,Saunders,21099,Confirmed Eruption,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-57.800,-26.483
11189,233020,"Fournaise, Piton de la",22428,Confirmed Eruption,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-21.244,55.708
11190,267020,Karangetang,22422,Confirmed Eruption,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.781,125.407

In [13]:
names = df1['Volcano Name']
len(names.unique())

909

In [14]:
num = df1['Volcano Number']
len(num.unique())

917

In [15]:
count_null(df1)

[{'Volcano Number': 0},
 {'Volcano Name': 0},
 {'Eruption Number': 0},
 {'Eruption Category': 0},
 {'Area of Activity': 6520},
 {'VEI': 2907},
 {'VEI Modifier': 9886},
 {'Start Year Modifier': 9589},
 {'Start Year': 3},
 {'Start Year Uncertainty': 9100},
 {'Start Month': 209},
 {'Start Day Modifier': 10778},
 {'Start Day': 212},
 {'Start Day Uncertainty': 10332},
 {'Evidence Method (dating)': 1267},
 {'End Year Modifier': 11085},
 {'End Year': 6824},
 {'End Year Uncertainty': 11185},
 {'End Month': 6827},
 {'End Day Modifier': 10471},
 {'End Day': 6830},
 {'End Day Uncertainty': 10497},
 {'Latitude': 0},
 {'Longitude': 0}]

In [16]:
col = [
    'Volcano Number',
    'Volcano Name',
    'VEI',
    'Eruption Category',
    'Latitude',
    'Longitude',
]
df1 = df1[col]
df1

,Volcano Number,Volcano Name,VEI,Eruption Category,Latitude,Longitude
0,264050,Sangeang Api,NaN,Confirmed Eruption,-8.200,119.070
1,262000,Krakatau,NaN,Confirmed Eruption,-6.102,105.423
2,264260,"Tara, Batu",NaN,Uncertain Eruption,-7.791,123.585
3,290360,Chikurachki,NaN,Confirmed Eruption,50.324,155.461
4,257040,Ambrym,NaN,Confirmed Eruption,-16.250,168.120
...,...,...,...,...,...,...
11186,343150,"Yojoa, Lago",NaN,Confirmed Eruption,14.964,-87.983
11187,357121,Quetrupillan,3.0,Confirmed Eruption,-39.496,-71.722
11188,390090,Saunders,0.0,Confirmed Eruption,-57.800,-26.483
11189,233020,"Fournaise, Piton de la",NaN,Confirmed Eruption,-21.244,55.708
11190,267020,Karangetang,NaN,Confirmed Eruption,2.781,125.407

In [17]:
for col in df1:
    print(col)
    print(df1[col].value_counts())

Volcano Number
211060    241
233020    198
282110    187
357120    164
283110    147
         ...
263270      1
341096      1
352002      1
210040      1
312260      1
Name: Volcano Number, Length: 917, dtype: int64
Volcano Name
Etna                                     241
Fournaise, Piton de la                   198
Asosan                                   187
Villarrica                               164
Asamayama                                147
                                        ...
Srednii                                    1
San Pablo Volcanic Field                   1
Soche                                      1
Submarine Volcano NNE of Iriomotejima      1
Escanaba Segment                           1
Name: Volcano Name, Length: 909, dtype: int64
VEI
2.0    4012
1.0    1383
3.0    1157
0.0     987
4.0     508
5.0     177
6.0      53
7.0       7
Name: VEI, dtype: int64
Eruption Category
Confirmed Eruption      9918
Uncertain Eruption      1104
Discredited Eruption     169
Name: Eruption Category, dtype: int64
Latitude
 37.748    241
-21.244    198
 32.884    187
-39.420    164
 36.406    147
          ...
-36.193      1
 44.608      1
-72.670      1
 43.351      1
-5.250       1
Name: Latitude, Length: 905, dtype: int64
Longitude
 14.999     241
 55.708     198
 131.104    187
-71.930     164
 138.523    147
           ...
 123.930      1
 124.535      1
-72.580       1
 120.950      1
-90.407       1
Name: Longitude, Length: 908, dtype: int64

In [18]:
df1[df1['Volcano Name']=='Etna']

,Volcano Number,Volcano Name,VEI,Eruption Category,Latitude,Longitude
293,211060,Etna,2.0,Confirmed Eruption,37.748,14.999
414,211060,Etna,1.0,Confirmed Eruption,37.748,14.999
432,211060,Etna,2.0,Confirmed Eruption,37.748,14.999
514,211060,Etna,1.0,Confirmed Eruption,37.748,14.999
564,211060,Etna,2.0,Confirmed Eruption,37.748,14.999
...,...,...,...,...,...,...
10057,211060,Etna,NaN,Confirmed Eruption,37.748,14.999
10087,211060,Etna,NaN,Confirmed Eruption,37.748,14.999
10259,211060,Etna,NaN,Confirmed Eruption,37.748,14.999
10502,211060,Etna,NaN,Confirmed Eruption,37.748,14.999
10731,211060,Etna,NaN,Confirmed Eruption,37.748,14.999

In [19]:
df1[df1['Volcano Name']=='Fournaise, Piton de la']

,Volcano Number,Volcano Name,VEI,Eruption Category,Latitude,Longitude
6,233020,"Fournaise, Piton de la",NaN,Confirmed Eruption,-21.244,55.708
32,233020,"Fournaise, Piton de la",NaN,Confirmed Eruption,-21.244,55.708
42,233020,"Fournaise, Piton de la",0.0,Confirmed Eruption,-21.244,55.708
59,233020,"Fournaise, Piton de la",0.0,Confirmed Eruption,-21.244,55.708
78,233020,"Fournaise, Piton de la",0.0,Confirmed Eruption,-21.244,55.708
...,...,...,...,...,...,...
8737,233020,"Fournaise, Piton de la",0.0,Confirmed Eruption,-21.244,55.708
9602,233020,"Fournaise, Piton de la",NaN,Confirmed Eruption,-21.244,55.708
9894,233020,"Fournaise, Piton de la",5.0,Confirmed Eruption,-21.244,55.708
9922,233020,"Fournaise, Piton de la",NaN,Confirmed Eruption,-21.244,55.708
11189,233020,"Fournaise, Piton de la",NaN,Confirmed Eruption,-21.244,55.708

In [20]:
df1[df1['Volcano Name']=='Unnamed']

,Volcano Number,Volcano Name,VEI,Eruption Category,Latitude,Longitude
160,243030,Unnamed,0.0,Confirmed Eruption,-20.852,-175.550
824,243091,Unnamed,2.0,Confirmed Eruption,-18.325,-174.365
943,243030,Unnamed,1.0,Confirmed Eruption,-20.852,-175.550
1976,290160,Unnamed,0.0,Confirmed Eruption,46.470,151.280
2065,243030,Unnamed,0.0,Uncertain Eruption,-20.852,-175.550
2173,290061,Unnamed,NaN,Uncertain Eruption,45.022,147.019
3380,243010,Unnamed,0.0,Confirmed Eruption,-21.338,-175.650
3694,243030,Unnamed,0.0,Confirmed Eruption,-20.852,-175.550
4021,243030,Unnamed,0.0,Confirmed Eruption,-20.852,-175.550
4154,243010,Unnamed,0.0,Confirmed Eruption,-21.338,-175.650
5459,274050,Unnamed,0.0,Confirmed Eruption,20.330,121.750
5552,274050,Unnamed,0.0,Confirmed Eruption,20.330,121.750
6465,274050,Unnamed,0.0,Confirmed Eruption,20.330,121.750

In [21]:
df1[df1['Volcano Name'] == 'San Cristobal']

,Volcano Number,Volcano Name,VEI,Eruption Category,Latitude,Longitude
39,344020,San Cristobal,3.0,Confirmed Eruption,12.702,-87.004
85,344020,San Cristobal,1.0,Confirmed Eruption,12.702,-87.004
117,344020,San Cristobal,1.0,Confirmed Eruption,12.702,-87.004
137,344020,San Cristobal,3.0,Confirmed Eruption,12.702,-87.004
158,344020,San Cristobal,1.0,Confirmed Eruption,12.702,-87.004
186,344020,San Cristobal,2.0,Confirmed Eruption,12.702,-87.004
231,344020,San Cristobal,2.0,Confirmed Eruption,12.702,-87.004
259,344020,San Cristobal,2.0,Confirmed Eruption,12.702,-87.004
277,344020,San Cristobal,1.0,Confirmed Eruption,12.702,-87.004
304,344020,San Cristobal,1.0,Confirmed Eruption,12.702,-87.004
323,344020,San Cristobal,2.0,Confirmed Eruption,12.702,-87.004
339,344020,San Cristobal,2.0,Confirmed Eruption,12.702,-87.004
374,344020,San Cristobal,1.0,Confirmed Eruption,12.702,-87.004
424,344020,San Cristobal,2.0,Confirmed Eruption,12.702,-87.004
452,344020,San Cristobal,2.0,Confirmed Eruption,12.702,-87.004
483,344020,San Cristobal,1.0,Confirmed Eruption,12.702,-87.004
507,344020,San Cristobal,1.0,Confirmed Eruption,12.702,-87.004
538,344020,San Cristobal,1.0,Confirmed Eruption,12.702,-87.004
627,344020,San Cristobal,2.0,Confirmed Eruption,12.702,-87.004
670,344020,San Cristobal,1.0,Confirmed Eruption,12.702,-87.004
739,344020,San Cristobal,1.0,Confirmed Eruption,12.702,-87.004
794,344020,San Cristobal,1.0,Confirmed Eruption,12.702,-87.004
838,344020,San Cristobal,1.0,Confirmed Eruption,12.702,-87.004
926,344020,San Cristobal,2.0,Confirmed Eruption,12.702,-87.004
1000,344020,San Cristobal,1.0,Confirmed Eruption,12.702,-87.004
1350,344020,San Cristobal,NaN,Uncertain Eruption,12.702,-87.004
1454,344020,San Cristobal,NaN,Uncertain Eruption,12.702,-87.004
1757,344020,San Cristobal,2.0,Confirmed Eruption,12.702,-87.004
1802,344020,San Cristobal,1.0,Confirmed Eruption,12.702,-87.004
1816,344020,San Cristobal,1.0,Confirmed Eruption,12.702,-87.004
2013,344020,San Cristobal,1.0,Confirmed Eruption,12.702,-87.004
6922,344020,San Cristobal,2.0,Confirmed Eruption,12.702,-87.004
6926,344020,San Cristobal,2.0,Confirmed Eruption,12.702,-87.004
6942,344020,San Cristobal,2.0,Confirmed Eruption,12.702,-87.004
7204,344020,San Cristobal,NaN,Uncertain Eruption,12.702,-87.004
7503,344020,San Cristobal,3.0,Confirmed Eruption,12.702,-87.004

In [22]:
df2 = pd.read_csv('GVP_Volcano_List_Holocene.csv')
df2

,Volcano Number,Volcano Name,Country,Primary Volcano Type,Primary Volcano Type 2,Recoded Volcano Type,Region,Subregion,Latitude,Longitude,Elevation (m),Dominant Rock Type,Recoded Dominant Rock Type,Tectonic Setting
0,210010,West Eifel Volcanic Field,Germany,Maar(s),Maar,Maar,Mediterranean and Western Asia,Western Europe,50.170,6.850,600,Foidite,Foidite,Rift zone / Continental crust (>25 km)
1,210020,Chaine des Puys,France,Lava dome(s),Lava dome,Lava dome,Mediterranean and Western Asia,Western Europe,45.775,2.970,1464,Basalt / Picro-Basalt,Basalt / Picro-Basalt,Rift zone / Continental crust (>25 km)
2,210030,Olot Volcanic Field,Spain,Pyroclastic cone(s),Pyroclastic cone,Pyroclastic cone,Mediterranean and Western Asia,Western Europe,42.170,2.530,893,Trachybasalt / Tephrite Basanite,Trachybasalt / Tephrite Basanite,Intraplate / Continental crust (>25 km)
3,210040,Calatrava Volcanic Field,Spain,Pyroclastic cone(s),Pyroclastic cone,Pyroclastic cone,Mediterranean and Western Asia,Western Europe,38.870,-4.020,1117,Basalt / Picro-Basalt,Basalt / Picro-Basalt,Intraplate / Continental crust (>25 km)
4,211003,Vulsini,Italy,Caldera,Caldera,Caldera,Mediterranean and Western Asia,Italy,42.600,11.930,800,Trachyte / Trachydacite,Trachyte / Trachydacite,Subduction zone / Continental crust (>25 km)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1332,390120,Leskov Island,United Kingdom,Stratovolcano,Stratovolcano,Stratovolcano,Antarctica,Antarctica and South Sandwich Islands,-56.656,-28.140,190,Andesite / Basaltic Andesite,Andesite / Basaltic Andesite,Subduction zone / Oceanic crust (< 15 km)
1333,390130,Zavodovski,United Kingdom,Stratovolcano,Stratovolcano,Stratovolcano,Antarctica,Antarctica and South Sandwich Islands,-56.300,-27.570,551,Basalt / Picro-Basalt,Basalt / Picro-Basalt,Subduction zone / Oceanic crust (< 15 km)
1334,390140,Protector Seamounts,United Kingdom,Submarine,Submarine,Submarine,Antarctica,Antarctica and South Sandwich Islands,-55.912,-28.167,-55,Rhyolite,Rhyolite,Subduction zone / Oceanic crust (< 15 km)
1335,390829,Mount Haddington Volcanic Field,Antarctica,Shield,Shield,Shield,Antarctica,Antarctica and South Sandwich Islands,-64.150,-57.750,1630,Basalt / Picro-Basalt,Basalt / Picro-Basalt,Intraplate / Continental crust (>25 km)
1336,390847,Melville,Antarctica,Stratovolcano,Stratovolcano,Stratovolcano,Antarctica,Antarctica and South Sandwich Islands,-62.020,-57.670,549,NaN,NaN,Intraplate / Continental crust (>25 km)

In [23]:
for col in df2:
    print(col)
    print(df2[col].value_counts())

Volcano Number
384010    1
290180    1
327040    1
243070    1
241021    1
         ..
357093    1
357092    1
263280    1
355042    1
353020    1
Name: Volcano Number, Length: 1337, dtype: int64
Volcano Name
Unnamed         13
Santa Isabel     2
Sumbing          2
Azul, Cerro      2
Flores           2
                ..
Korath Range     1
Krakatau         1
Bardarbunga      1
Redoubt          1
Shikotsu         1
Name: Volcano Name, Length: 1320, dtype: int64
Country
United States                161
Indonesia                    121
Japan                        107
Russia                       102
Chile                         67
                            ...
Ethiopia-Eritrea-Djibouti      1
El Salvador-Guatemala          1
Eritrea-Djibouti               1
Syria                          1
Ethiopia-Djibouti              1
Name: Country, Length: 93, dtype: int64
Primary Volcano Type
Stratovolcano          549
Stratovolcano(es)      114
Submarine              113
Shield                 102
Pyroclastic cone(s)     86
Volcanic field          79
Caldera                 73
Complex                 52
Lava dome(s)            29
Shield(s)               22
Fissure vent(s)         15
Compound                13
Pyroclastic cone        13
Maar(s)                 10
Tuff cone(s)             9
Lava dome                8
Caldera(s)               8
Pyroclastic shield       8
Crater rows              6
Subglacial               5
Maar                     5
Tuff cone                3
Fissure vent             3
Submarine(es)            2
Lava cone                2
Stratovolcano?           2
Explosion crater(s)      1
Lava cone(s)             1
Lava cone(es)            1
Complex(es)              1
Tuff ring(s)             1
Cone(s)                  1
Name: Primary Volcano Type, dtype: int64
Primary Volcano Type 2
Stratovolcano       665
Shield              132
Submarine           115
Pyroclastic cone     99
Caldera              81
Volcanic field       79
Complex              53
Lava dome            37
Other                25
Fissure vent         18
Maar                 15
Compound             13
Cone                  5
Name: Primary Volcano Type 2, dtype: int64
Recoded Volcano Type
Stratovolcano       665
Shield              132
Submarine           115
Pyroclastic cone     99
Caldera              81
Volcanic field       79
Complex              53
Lava dome            37
Other                30
Fissure vent         18
Maar                 15
Compound             13
Name: Recoded Volcano Type, dtype: int64
Region
South America                     179
Japan, Taiwan, Marianas           134
Indonesia                         123
Africa and Red Sea                119
México and Central America        109
Kamchatka and Mainland Asia        86
Alaska                             83
Melanesia and Australia            73
Canada and Western USA             64
New Zealand to Fiji                56
Kuril Islands                      44
Philippines and SE Asia            43
Middle East and Indian Ocean       42
Mediterranean and Western Asia     41
Iceland and Arctic Ocean           36
Hawaii and Pacific Ocean           33
Atlantic Ocean                     28
Antarctica                         28
West Indies                        16
Name: Region, dtype: int64
Subregion
Kamchatka Peninsula                      67
Africa (northeastern) and Red Sea        63
Izu, Volcano, and Mariana Islands        51
Northern Chile, Bolivia and Argentina    47
Honshu                                   45
                                         ..
Pacific Ocean (Chilean Islands)           1
Krakatau                                  1
North of Iceland                          1
Atlantic Ocean (Jan Mayen)                1
China (western)                           1
Name: Subregion, Length: 106, dtype: int64
Latitude
 2.320     3
 14.420    2
-0.380     2
-6.770     2
-4.080     2
          ..
-16.191    1
 45.389    1
-22.895    1
 19.492    1
 9.250     1
Name: Latitude, Length: 1298, dtype: int64
Longitude
 145.670    3
 127.400    3
-121.820    2
-169.770    2
 154.980    2
           ..
 40.300     1
 175.911    1
-26.483     1
 152.920    1
-20.883     1
Name: Longitude, Length: 1309, dtype: int64
Elevation (m)
1100    6
1000    5
600     4
1625    4
1700    4
       ..
698     1
699     1
2749    1
704     1
3000    1
Name: Elevation (m), Length: 1116, dtype: int64
Dominant Rock Type
Andesite / Basaltic Andesite                551
Basalt / Picro-Basalt                       422
Dacite                                       89
Trachybasalt / Tephrite Basanite             65
Rhyolite                                     58
No Data (checked)                            41
Trachyte / Trachydacite                      36
Trachyandesite / Basaltic Trachyandesite     28
Foidite                                      14
Phonolite                                     8
Phono-tephrite /  Tephri-phonolite            3
Name: Dominant Rock Type, dtype: int64
Recoded Dominant Rock Type
Andesite / Basaltic Andesite                551
Basalt / Picro-Basalt                       422
Dacite                                       89
Trachybasalt / Tephrite Basanite             65
Rhyolite                                     58
No Data (checked)                            41
Trachyte / Trachydacite                      36
Trachyandesite / Basaltic Trachyandesite     28
Foidite                                      14
Other                                        11
Name: Recoded Dominant Rock Type, dtype: int64
Tectonic Setting
Subduction zone / Continental crust (>25 km)       652
Intraplate / Continental crust (>25 km)            134
Subduction zone / Oceanic crust (< 15 km)          129
Rift zone / Oceanic crust (< 15 km)                102
Rift zone / Continental crust (>25 km)              91
Subduction zone / Crustal thickness unknown         75
Subduction zone / Intermediate crust (15-25 km)     74
Rift zone / Intermediate crust (15-25 km)           41
Intraplate / Oceanic crust (< 15 km)                28
Intraplate / Intermediate crust (15-25 km)           5
Unknown                                              1
Name: Tectonic Setting, dtype: int64

In [24]:
num = df2['Volcano Number']
print(len(num.unique()))

1337

In [25]:
df2[df2['Volcano Name']=='Etna']

,Volcano Number,Volcano Name,Country,Primary Volcano Type,Primary Volcano Type 2,Recoded Volcano Type,Region,Subregion,Latitude,Longitude,Elevation (m),Dominant Rock Type,Recoded Dominant Rock Type,Tectonic Setting
14,211060,Etna,Italy,Stratovolcano(es),Stratovolcano,Stratovolcano,Mediterranean and Western Asia,Italy,37.748,14.999,3320,Trachybasalt / Tephrite Basanite,Trachybasalt / Tephrite Basanite,Subduction zone / Continental crust (>25 km)

In [26]:
df2[df2['Volcano Name']=='Fournaise, Piton de la']

,Volcano Number,Volcano Name,Country,Primary Volcano Type,Primary Volcano Type 2,Recoded Volcano Type,Region,Subregion,Latitude,Longitude,Elevation (m),Dominant Rock Type,Recoded Dominant Rock Type,Tectonic Setting
190,233020,"Fournaise, Piton de la",France,Shield,Shield,Shield,Middle East and Indian Ocean,Indian Ocean (western),-21.244,55.708,2632,Basalt / Picro-Basalt,Basalt / Picro-Basalt,Intraplate / Oceanic crust (< 15 km)

In [27]:
count_null(df2)

[{'Volcano Number': 0},
 {'Volcano Name': 0},
 {'Country': 0},
 {'Primary Volcano Type': 0},
 {'Primary Volcano Type 2': 0},
 {'Recoded Volcano Type': 0},
 {'Region': 0},
 {'Subregion': 0},
 {'Latitude': 0},
 {'Longitude': 0},
 {'Elevation (m)': 0},
 {'Dominant Rock Type': 22},
 {'Recoded Dominant Rock Type': 22},
 {'Tectonic Setting': 5}]

In [28]:
col = [
    'Volcano Number',
    'Volcano Name',
    'Country',
    'Recoded Volcano Type',
    'Region',
    'Recoded Dominant Rock Type',
    'Tectonic Setting',
    'Elevation (m)',
    'Latitude',
    'Longitude',
]
df2 = df2[col]
df2

,Volcano Number,Volcano Name,Country,Recoded Volcano Type,Region,Recoded Dominant Rock Type,Tectonic Setting,Elevation (m),Latitude,Longitude
0,210010,West Eifel Volcanic Field,Germany,Maar,Mediterranean and Western Asia,Foidite,Rift zone / Continental crust (>25 km),600,50.170,6.850
1,210020,Chaine des Puys,France,Lava dome,Mediterranean and Western Asia,Basalt / Picro-Basalt,Rift zone / Continental crust (>25 km),1464,45.775,2.970
2,210030,Olot Volcanic Field,Spain,Pyroclastic cone,Mediterranean and Western Asia,Trachybasalt / Tephrite Basanite,Intraplate / Continental crust (>25 km),893,42.170,2.530
3,210040,Calatrava Volcanic Field,Spain,Pyroclastic cone,Mediterranean and Western Asia,Basalt / Picro-Basalt,Intraplate / Continental crust (>25 km),1117,38.870,-4.020
4,211003,Vulsini,Italy,Caldera,Mediterranean and Western Asia,Trachyte / Trachydacite,Subduction zone / Continental crust (>25 km),800,42.600,11.930
...,...,...,...,...,...,...,...,...,...,...
1332,390120,Leskov Island,United Kingdom,Stratovolcano,Antarctica,Andesite / Basaltic Andesite,Subduction zone / Oceanic crust (< 15 km),190,-56.656,-28.140
1333,390130,Zavodovski,United Kingdom,Stratovolcano,Antarctica,Basalt / Picro-Basalt,Subduction zone / Oceanic crust (< 15 km),551,-56.300,-27.570
1334,390140,Protector Seamounts,United Kingdom,Submarine,Antarctica,Rhyolite,Subduction zone / Oceanic crust (< 15 km),-55,-55.912,-28.167
1335,390829,Mount Haddington Volcanic Field,Antarctica,Shield,Antarctica,Basalt / Picro-Basalt,Intraplate / Continental crust (>25 km),1630,-64.150,-57.750
1336,390847,Melville,Antarctica,Stratovolcano,Antarctica,NaN,Intraplate / Continental crust (>25 km),549,-62.020,-57.670

In [29]:
df2.iloc[144]

Volcano Number                                                 224004
Volcano Name                                             Santa Isabel
Country                                             Equatorial Guinea
Recoded Volcano Type                                           Shield
Region                                             Africa and Red Sea
Recoded Dominant Rock Type                      Basalt / Picro-Basalt
Tectonic Setting              Intraplate / Continental crust (>25 km)
Elevation (m)                                                    2999
Latitude                                                        3.588
Longitude                                                       8.762
Name: 144, dtype: object

In [30]:
volcano_names = df2['Volcano Name']
len(volcano_names.unique())

1320

In [31]:
names_dict = dict(volcano_names.value_counts())
multiple_entries = []
for key, val in names_dict.items():
    if val > 1: multiple_entries.append(key)
print(multiple_entries)

['Unnamed', 'Santa Isabel', 'Sumbing', 'Azul, Cerro', 'Flores', 'San Cristobal']

In [32]:
df2[df2['Volcano Name'] == 'San Cristobal']

,Volcano Number,Volcano Name,Country,Recoded Volcano Type,Region,Recoded Dominant Rock Type,Tectonic Setting,Elevation (m),Latitude,Longitude
1022,344020,San Cristobal,Nicaragua,Stratovolcano,México and Central America,Basalt / Picro-Basalt,Subduction zone / Continental crust (>25 km),1745,12.702,-87.004
1097,353120,San Cristobal,Ecuador,Shield,South America,Basalt / Picro-Basalt,Rift zone / Oceanic crust (< 15 km),759,-0.880,-89.500

In [33]:
count_null(df1)

[{'Volcano Number': 0},
 {'Volcano Name': 0},
 {'VEI': 2907},
 {'Eruption Category': 0},
 {'Latitude': 0},
 {'Longitude': 0}]

In [34]:
count_null(df2)

[{'Volcano Number': 0},
 {'Volcano Name': 0},
 {'Country': 0},
 {'Recoded Volcano Type': 0},
 {'Region': 0},
 {'Recoded Dominant Rock Type': 22},
 {'Tectonic Setting': 5},
 {'Elevation (m)': 0},
 {'Latitude': 0},
 {'Longitude': 0}]

In [35]:
# Remove this random ass volcano number
df1[df1['Volcano Number'] ==  600000]
nums, bad_indices = df1['Volcano Number'].values, []
for i in range(len(nums)):
    if nums[i]==600000: bad_indices.append(i)
df1.drop(index=bad_indices, inplace=True)

C:\Users\devmy\anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [36]:
# Create a dictionary for number of eruptions.  Dictionary keys are volcano numbers, values are counts of the number of eruptions
volcano_nums = df1['Volcano Number'].values
num_eruptions_dict = {}
for num in volcano_nums:
    if num not in num_eruptions_dict: # volcano number has not been seen yet, set the value of this volcano in the dict to 1
        num_eruptions_dict[num] = 1
    else:
        count = num_eruptions_dict[num]
        count += 1
        num_eruptions_dict[num] = count

In [37]:
num_eruptions_dict

{264050: 22,
 262000: 58,
 264260: 4,
 290360: 27,
 257040: 56,
 353020: 17,
 233020: 198,
 243040: 7,
 257030: 9,
 273083: 9,
 264250: 16,
 345070: 24,
 282110: 187,
 255060: 36,
 332010: 73,
 383010: 14,
 284096: 14,
 284130: 38,
 290260: 11,
 312030: 48,
 284170: 25,
 264270: 14,
 252120: 47,
 357090: 20,
 273070: 37,
 345020: 34,
 311120: 17,
 263200: 32,
 344040: 52,
 263310: 71,
 371030: 12,
 312070: 26,
 311060: 10,
 263340: 73,
 263250: 111,
 360150: 23,
 344020: 36,
 264230: 10,
 282060: 27,
 282050: 31,
 261080: 6,
 311240: 30,
 300130: 54,
 266030: 41,
 290240: 22,
 343100: 44,
 353010: 32,
 241040: 42,
 243070: 12,
 283110: 147,
 263090: 22,
 311360: 50,
 354020: 26,
 290250: 4,
 341040: 86,
 300260: 110,
 352090: 11,
 345040: 60,
 256010: 27,
 267020: 59,
 357040: 24,
 268060: 87,
 260010: 17,
 290200: 5,
 290390: 16,
 233005: 4,
 353050: 18,
 261140: 68,
 261170: 37,
 223020: 49,
 282090: 85,
 283120: 31,
 273030: 66,
 251002: 3,
 272020: 31,
 264020: 5,
 261230: 28,
 273010: 24,
 222120: 29,
 360160: 15,
 282080: 54,
 300010: 2,
 264100: 8,
 243030: 5,
 311300: 12,
 300120: 15,
 354006: 14,
 290380: 20,
 264030: 21,
 390080: 6,
 390130: 5,
 357070: 32,
 344090: 22,
 355100: 36,
 252010: 30,
 344100: 42,
 243060: 12,
 266100: 31,
 352050: 85,
 283020: 8,
 263170: 7,
 342110: 36,
 331021: 12,
 358020: 37,
 290290: 5,
 357120: 164,
 257050: 32,
 384010: 12,
 351020: 24,
 390090: 9,
 264180: 24,
 283040: 5,
 373030: 55,
 252140: 19,
 251020: 45,
 284141: 3,
 263300: 65,
 251030: 19,
 263180: 46,
 263280: 41,
 221020: 4,
 211060: 241,
 284090: 7,
 290070: 7,
 284305: 1,
 268040: 14,
 300240: 60,
 241080: 79,
 290150: 9,
 264150: 10,
 234010: 13,
 242050: 23,
 242005: 1,
 351080: 42,
 252080: 21,
 311110: 24,
 284120: 23,
 357091: 7,
 352080: 36,
 358057: 15,
 383020: 7,
 257020: 16,
 221101: 1,
 357150: 26,
 373010: 86,
 221041: 2,
 300230: 11,
 290270: 3,
 300070: 53,
 284193: 1,
 300250: 65,
 284040: 40,
 372020: 5,
 344120: 34,
 290120: 11,
 221115: 2,
 313030: 101,
 352020: 44,
 242010: 3,
 300090: 8,
 285070: 37,
 243120: 1,
 243130: 1,
 221060: 1,
 351050: 4,
 311130: 5,
 352010: 26,
 252070: 4,
 311290: 19,
 241130: 6,
 353060: 15,
 358041: 5,
 264160: 6,
 268030: 5,
 357110: 58,
 261160: 15,
 284200: 4,
 221010: 5,
 241100: 66,
 251070: 12,
 233010: 35,
 311160: 17,
 312260: 1,
 243080: 4,
 242030: 19,
 266020: 2,
 313010: 23,
 221113: 4,
 334050: 17,
 234011: 5,
 343020: 19,
 360050: 9,
 284080: 24,
 341090: 46,
 282030: 27,
 321050: 44,
 386011: 1,
 234070: 2,
 267040: 19,
 285050: 28,
 257060: 14,
 284110: 19,
 284211: 1,
 264200: 4,
 334040: 1,
 244000: 3,
 263100: 4,
 267010: 16,
 315020: 14,
 263350: 11,
 223030: 20,
 342090: 79,
 385052: 1,
 284121: 6,
 300100: 58,
 390081: 2,
 243091: 1,
 264090: 2,
 261030: 7,
 285020: 24,
 261220: 13,
 300060: 45,
 224010: 19,
 285030: 14,
 255020: 26,
 372070: 65,
 290100: 6,
 300270: 105,
 344070: 24,
 372030: 132,
 377020: 1,
 264010: 28,
 382050: 15,
 312110: 4,
 283090: 20,
 283260: 17,
 360101: 5,
 382070: 2,
 311190: 8,
 311070: 16,
 283170: 13,
 334070: 2,
 261120: 10,
 331031: 3,
 332000: 8,
 258001: 1,
 282100: 15,
 284131: 6,
 300125: 4,
 234000: 1,
 284202: 2,
 282120: 14,
 355040: 2,
 283070: 38,
 311310: 28,
 345060: 39,
 357030: 2,
 353040: 3,
 355130: 2,
 251050: 12,
 331020: 2,
 264220: 20,
 311180: 13,
 232050: 2,
 355160: 1,
 341021: 6,
 311320: 47,
 313040: 8,
 311340: 8,
 353080: 1,
 263290: 3,
 264071: 2,
 335020: 1,
 335030: 1,
 343010: 1,
 284010: 108,
 334120: 5,
 311020: 7,
 355107: 1,
 284142: 3,
 283010: 7,
 357100: 5,
 268070: 12,
 265090: 27,
 284070: 23,
 357010: 20,
 311230: 4,
 390030: 30,
 333060: 12,
 284210: 6,
 313020: 17,
 312060: 1,
 224030: 2,
 331030: 3,
 284100: 4,
 341130: 11,
 355020: 6,
 354010: 22,
 390028: 2,
 243110: 14,
 333010: 4,
 376010: 8,
 373080: 24,
 332020: 110,
 263140: 7,
 266010: 3,
 258020: 7,
 284133: 13,
 341120: 13,
 290030: 6,
 241050: 31,
 333040: 1,
 285040: 43,
 257070: 18,
 284132: 1,
 243102: 2,
 357140: 3,
 358060: 10,
 221126: 1,
 274020: 6,
 283180: 24,
 266110: 7,
 312131: 2,
 351060: 25,
 258010: 7,
 360060: 19,
 284134: 2,
 284091: 1,
 390070: 1,
 222010: 1,
 312160: 15,
 283220: 32,
 243100: 8,
 372010: 10,
 390020: 22,
 342080: 8,
 333020: 3,
 357080: 16,
 355090: 2,
 290160: 1,
 300040: 6,
 250030: 1,
 263210: 11,
 264110: 11,
 283230: 18,
 371020: 22,
 333030: 2,
 267030: 7,
 345033: 28,
 282020: 9,
 211050: 46,
 264140: 3,
 373050: 8,
 265060: 4,
 357060: 11,
 221080: 7,
 264040: 7,
 290061: 1,
 284140: 18,
 343030: 54,
 241120: 1,
 257010: 4,
 334100: 1,
 382030: 13,
 382020: 4,
 283150: 21,
 390140: 1,
 373060: 14,
 386010: 2,
 357020: 9,
 355030: 8,
 251010: 28,
 257090: 2,
 290180: 2,
 290220: 2,
 382010: 2,
 223050: 2,
 221290: 1,
 263060: 26,
 311270: 7,
 300110: 2,
 386020: 2,
 344080: 3,
 390100: 4,
 250010: 4,
 263320: 42,
 312140: 4,
 300140: 23,
 290310: 2,
 290350: 1,
 341020: 1,
 283140: 12,
 273088: 1,
 290080: 3,
 312090: 18,
 304030: 2,
 253010: 3,
 312180: 3,
 283210: 8,
 212040: 13,
 282040: 2,
 271080: 6,
 345030: 2,
 312150: 12,
 290161: 6,
 253040: 1,
 351030: 12,
 341060: 11,
 314010: 2,
 283190: 52,
 272080: 1,
 263040: 7,
 290320: 12,
 283130: 2,
 263050: 6,
 311210: 6,
 261130: 1,
 355010: 2,
 357130: 2,
 231120: 1,
 261050: 6,
 351110: 1,
 243050: 9,
 285090: 7,
 341001: 2,
 283240: 31,
 211040: 22,
 268010: 5,
 261270: 1,
 275001: 2,
 352040: 3,
 290300: 6,
 290340: 11,
 341110: 16,
 243010: 2,
 357050: 1,
 290050: 2,
 312170: 6,
 250020: 1,
 357160: 2,
 390110: 2,
 311260: 1,
 360120: 54,
 221122: 1,
 221160: 1,
 221170: 2,
 353070: 1,
 374020: 1,
 351100: 2,
 371022: 6,
 282010: 1,
 261150: 4,
 274030: 9,
 284150: 7,
 275060: 1,
 300200: 3,
 224004: 3,
 212020: 2,
 342030: 3,
 222030: 12,
 265070: 12,
 261180: 2,
 358030: 7,
 343050: 7,
 284160: 1,
 271060: 9,
 334140: 3,
 221112: 2,
 358040: 10,
 323080: 7,
 311080: 8,
 211020: 61,
 354004: 4,
 357021: 13,
 211070: 8,
 382110: 2,
 271020: 4,
 252130: 4,
 222160: 4,
 358070: 7,
 323020: 10,
 255050: 1,
 222051: 8,
 383030: 46,
 273050: 4,
 358063: 4,
 322010: 9,
 300050: 15,
 244040: 12,
 390031: 3,
 265050: 5,
 320090: 8,
 353090: 3,
 261251: 2,
 305060: 10,
 373012: 3,
 354040: 5,
 300030: 6,
 284190: 3,
 221100: 4,
 221250: 2,
 290020: 3,
 390010: 2,
 285061: 2,
 320030: 1,
 351070: 2,
 252040: 3,
 272070: 1,
 321030: 28,
 300080: 7,
 265040: 1,
 390015: 1,
 211071: 9,
 342040: 6,
 323110: 5,
 300261: 3,
 253030: 2,
 334130: 2,
 212050: 4,
 283160: 14,
 222020: 1,
 242021: 3,
 284180: 4,
 263130: 27,
 271070: 1,
 252110: 4,
 263260: 2,
 290210: 4,
 321010: 20,
 271040: 4,
 261070: 1,
 290211: 1,
 382080: 16,
 266130: 7,
 343060: 2,
 343080: 1,
 355110: 3,
 285011: 8,
 357121: 5,
 341030: 4,
 358010: 18,
 373100: 1,
 345050: 2,
 244010: 1,
 381040: 1,
 255070: 4,
 355050: 1,
 283270: 29,
 342020: 2,
 222100: 3,
 273090: 1,
 290090: 2,
 344010: 7,
 283080: 7,
 274010: 1,
 342060: 15,
 300121: 2,
 222130: 3,
 213030: 2,
 283030: 67,
 274050: 3,
 241030: 43,
 243090: 2,
 281031: 2,
 322070: 7,
 312130: 5,
 231001: 2,
 344110: 2,
 390041: 1,
 290010: 3,
 243061: 1,
 341100: 27,
 360030: 5,
 213040: 5,
 261020: 2,
 375010: 4,
 385030: 3,
 358050: 5,
 358049: 3,
 282021: 1,
 358023: 3,
 311350: 6,
 251001: 2,
 311050: 2,
 255010: 1,
 290190: 2,
 383060: 4,
 373070: 5,
 357072: 2,
 358090: 2,
 221190: 2,
 221200: 1,
 272050: 1,
 285034: 3,
 353030: 3,
 290040: 1,
 231080: 1,
 352030: 3,
 332040: 22,
 285082: 5,
 222170: 1,
 354031: 1,
 352060: 6,
 263240: 4,
 311390: 3,
 234002: 1,
 285010: 6,
 283290: 1,
 323010: 23,
 352006: 22,
 284060: 7,
 305030: 2,
 257100: 4,
 268063: 1,
 352022: 5,
 222090: 3,
 360140: 1,
 357123: 1,
 332060: 40,
 341024: 1,
 300020: 5,
 300280: 14,
 285060: 5,
 263220: 1,
 374010: 2,
 351012: 8,
 312200: 1,
 358054: 2,
 284050: 19,
 321020: 8,
 265030: 2,
 213020: 27,
 320100: 2,
 245030: 3,
 283050: 26,
 382081: 7,
 263270: 1,
 271011: 3,
 360010: 1,
 221141: 1,
 382100: 9,
 273041: 1,
 282070: 27,
 275110: 2,
 257021: 1,
 354030: 2,
 300450: 3,
 263330: 1,
 255011: 2,
 382090: 10,
 358056: 2,
 245010: 34,
 320150: 2,
 311090: 1,
 283280: 7,
 300190: 31,
 300180: 8,
 346010: 8,
 283131: 2,
 342100: 1,
 211010: 20,
 385050: 3,
 300272: 10,
 372050: 10,
 342160: 1,
 274060: 3,
 222164: 2,
 241020: 2,
 323120: 13,
 241140: 1,
 300122: 6,
 253060: 1,
 273060: 1,
 371040: 9,
 285080: 6,
 211030: 24,
 231070: 3,
 327050: 1,
 341062: 2,
 360110: 4,
 323150: 2,
 231160: 1,
 300550: 3,
 222166: 3,
 357111: 2,
 211042: 3,
 283031: 2,
 313050: 3,
 282043: 4,
 351040: 7,
 353011: 1,
 341096: 1,
 329010: 1,
 358022: 1,
 285081: 7,
 329020: 1,
 344092: 8,
 327040: 1,
 306040: 4,
 231040: 1,
 370030: 5,
 300220: 2,
 320060: 4,
 321040: 15,
 322020: 2,
 231180: 1,
 252100: 2,
 371080: 6,
 360100: 2,
 283271: 8,
 284020: 5,
 282130: 3,
 300551: 1,
 225060: 1,
 315030: 2,
 284030: 5,
 283200: 5,
 214080: 2,
 322110: 11,
 322030: 1,
 231060: 1,
 283002: 3,
 352003: 4,
 281032: 2,
 357122: 8,
 283122: 3,
 352071: 6,
 231090: 2,
 322060: 4,
 244020: 1,
 341080: 8,
 241010: 1,
 300022: 4,
 305050: 1,
 314060: 1,
 300082: 2,
 355012: 6,
 352011: 4,
 241070: 25,
 213010: 2,
 360020: 3,
 323200: 3,
 263291: 1,
 300170: 4,
 358052: 2,
 370010: 10,
 371050: 13,
 212030: 1,
 271031: 3,
 285083: 1,
 214010: 1,
 383040: 11,
 305011: 1,
 221270: 1,
 333050: 4,
 334020: 1,
 334021: 1,
 283060: 3,
 344091: 4,
 357061: 4,
 211003: 1,
 211004: 3,
 324020: 14,
 323160: 1,
 263251: 1,
 358012: 1,
 302030: 5,
 357153: 2,
 324030: 1,
 300053: 3,
 373082: 7,
 355011: 8,
 352021: 4,
 254020: 1,
 282091: 1,
 320180: 1,
 275080: 2,
 305040: 3,
 300560: 1,
 300210: 2,
 300221: 1,
 300160: 2,
 300123: 5,
 358024: 1,
 354005: 1,
 214090: 3,
 214020: 2,
 283100: 10,
 312100: 1,
 300512: 1,
 300124: 2,
 351021: 4,
 373090: 3,
 351090: 4,
 382001: 2,
 322040: 2,
 342120: 1,
 390013: 1,
 315001: 1,
 285032: 2,
 255030: 6,
 211080: 2,
 300552: 1,
 311140: 3,
 327120: 2,
 341091: 7,
 331011: 1,
 231110: 1,
 341095: 1,
 358062: 2,
 322190: 1,
 354050: 1,
 341070: 1,
 300700: 1,
 311111: 3,
 312190: 1,
 312050: 1,
 214070: 1,
 312080: 1,
 382040: 1,
 225030: 1,
 300680: 1,
 283262: 2,
 213004: 5,
 223001: 2,
 328010: 1,
 315040: 3,
 300511: 1,
 331040: 1,
 355210: 1,
 352031: 1,
 332030: 6,
 322100: 1,
 322160: 5,
 259010: 4,
 225050: 6,
 303010: 1,
 306030: 3,
 214100: 1,
 341061: 1,
 283142: 1,
 324040: 1,
 327110: 1,
 371070: 3,
 283151: 1,
 300671: 1,
 331010: 2,
 371060: 11,
 273042: 1,
 300084: 1,
 300650: 1,
 210040: 1,
 352002: 1,
 312250: 2,
 341098: 1,
 357093: 4,
 210020: 8,
 300021: 1,
 284041: 2,
 354000: 1,
 300150: 2,
 341093: 1,
 382120: 1,
 300273: 1,
 284011: 1,
 283143: 1,
 357063: 1,
 285031: 1,
 252150: 1,
 357112: 1,
 300271: 1,
 222052: 3,
 357066: 1,
 241021: 2,
 302060: 1,
 320140: 1,
 355109: 1,
 300360: 1,
 283250: 2,
 232010: 1,
 351011: 2,
 390027: 3,
 352004: 1,
 358080: 1,
 322170: 1,
 321060: 2,
 322090: 1,
 285041: 1,
 222060: 2,
 233014: 2,
 282081: 2,
 321070: 1,
 300023: 2,
 222040: 1,
 352001: 1,
 213002: 2,
 283001: 1,
 357041: 1,
 320080: 1,
 300520: 1,
 290041: 1,
 300590: 1,
 222053: 1,
 311380: 1,
 343150: 2,
 211031: 1,
 223040: 1,
 264080: 1,
 300083: 1,
 320200: 1,
 210010: 2,
 390022: 1,
 324010: 1,
 327812: 3,
 283141: 1,
 222161: 1}

In [38]:
len(num_eruptions_dict)

916

In [39]:
# For volcanoes with no eruptions (i.e. not in df1), set their element in the dictionary to 0
volcano_numbers = df2['Volcano Number'].values
for num in volcano_numbers:
    if num not in num_eruptions_dict:
        num_eruptions_dict[num] = 0
    else:
        pass
len(num_eruptions_dict)

1337

In [40]:
num_eruptions_dict

{264050: 22,
 262000: 58,
 264260: 4,
 290360: 27,
 257040: 56,
 353020: 17,
 233020: 198,
 243040: 7,
 257030: 9,
 273083: 9,
 264250: 16,
 345070: 24,
 282110: 187,
 255060: 36,
 332010: 73,
 383010: 14,
 284096: 14,
 284130: 38,
 290260: 11,
 312030: 48,
 284170: 25,
 264270: 14,
 252120: 47,
 357090: 20,
 273070: 37,
 345020: 34,
 311120: 17,
 263200: 32,
 344040: 52,
 263310: 71,
 371030: 12,
 312070: 26,
 311060: 10,
 263340: 73,
 263250: 111,
 360150: 23,
 344020: 36,
 264230: 10,
 282060: 27,
 282050: 31,
 261080: 6,
 311240: 30,
 300130: 54,
 266030: 41,
 290240: 22,
 343100: 44,
 353010: 32,
 241040: 42,
 243070: 12,
 283110: 147,
 263090: 22,
 311360: 50,
 354020: 26,
 290250: 4,
 341040: 86,
 300260: 110,
 352090: 11,
 345040: 60,
 256010: 27,
 267020: 59,
 357040: 24,
 268060: 87,
 260010: 17,
 290200: 5,
 290390: 16,
 233005: 4,
 353050: 18,
 261140: 68,
 261170: 37,
 223020: 49,
 282090: 85,
 283120: 31,
 273030: 66,
 251002: 3,
 272020: 31,
 264020: 5,
 261230: 28,
 273010: 24,
 222120: 29,
 360160: 15,
 282080: 54,
 300010: 2,
 264100: 8,
 243030: 5,
 311300: 12,
 300120: 15,
 354006: 14,
 290380: 20,
 264030: 21,
 390080: 6,
 390130: 5,
 357070: 32,
 344090: 22,
 355100: 36,
 252010: 30,
 344100: 42,
 243060: 12,
 266100: 31,
 352050: 85,
 283020: 8,
 263170: 7,
 342110: 36,
 331021: 12,
 358020: 37,
 290290: 5,
 357120: 164,
 257050: 32,
 384010: 12,
 351020: 24,
 390090: 9,
 264180: 24,
 283040: 5,
 373030: 55,
 252140: 19,
 251020: 45,
 284141: 3,
 263300: 65,
 251030: 19,
 263180: 46,
 263280: 41,
 221020: 4,
 211060: 241,
 284090: 7,
 290070: 7,
 284305: 1,
 268040: 14,
 300240: 60,
 241080: 79,
 290150: 9,
 264150: 10,
 234010: 13,
 242050: 23,
 242005: 1,
 351080: 42,
 252080: 21,
 311110: 24,
 284120: 23,
 357091: 7,
 352080: 36,
 358057: 15,
 383020: 7,
 257020: 16,
 221101: 1,
 357150: 26,
 373010: 86,
 221041: 2,
 300230: 11,
 290270: 3,
 300070: 53,
 284193: 1,
 300250: 65,
 284040: 40,
 372020: 5,
 344120: 34,
 290120: 11,
 221115: 2,
 313030: 101,
 352020: 44,
 242010: 3,
 300090: 8,
 285070: 37,
 243120: 1,
 243130: 1,
 221060: 1,
 351050: 4,
 311130: 5,
 352010: 26,
 252070: 4,
 311290: 19,
 241130: 6,
 353060: 15,
 358041: 5,
 264160: 6,
 268030: 5,
 357110: 58,
 261160: 15,
 284200: 4,
 221010: 5,
 241100: 66,
 251070: 12,
 233010: 35,
 311160: 17,
 312260: 1,
 243080: 4,
 242030: 19,
 266020: 2,
 313010: 23,
 221113: 4,
 334050: 17,
 234011: 5,
 343020: 19,
 360050: 9,
 284080: 24,
 341090: 46,
 282030: 27,
 321050: 44,
 386011: 1,
 234070: 2,
 267040: 19,
 285050: 28,
 257060: 14,
 284110: 19,
 284211: 1,
 264200: 4,
 334040: 1,
 244000: 3,
 263100: 4,
 267010: 16,
 315020: 14,
 263350: 11,
 223030: 20,
 342090: 79,
 385052: 1,
 284121: 6,
 300100: 58,
 390081: 2,
 243091: 1,
 264090: 2,
 261030: 7,
 285020: 24,
 261220: 13,
 300060: 45,
 224010: 19,
 285030: 14,
 255020: 26,
 372070: 65,
 290100: 6,
 300270: 105,
 344070: 24,
 372030: 132,
 377020: 1,
 264010: 28,
 382050: 15,
 312110: 4,
 283090: 20,
 283260: 17,
 360101: 5,
 382070: 2,
 311190: 8,
 311070: 16,
 283170: 13,
 334070: 2,
 261120: 10,
 331031: 3,
 332000: 8,
 258001: 1,
 282100: 15,
 284131: 6,
 300125: 4,
 234000: 1,
 284202: 2,
 282120: 14,
 355040: 2,
 283070: 38,
 311310: 28,
 345060: 39,
 357030: 2,
 353040: 3,
 355130: 2,
 251050: 12,
 331020: 2,
 264220: 20,
 311180: 13,
 232050: 2,
 355160: 1,
 341021: 6,
 311320: 47,
 313040: 8,
 311340: 8,
 353080: 1,
 263290: 3,
 264071: 2,
 335020: 1,
 335030: 1,
 343010: 1,
 284010: 108,
 334120: 5,
 311020: 7,
 355107: 1,
 284142: 3,
 283010: 7,
 357100: 5,
 268070: 12,
 265090: 27,
 284070: 23,
 357010: 20,
 311230: 4,
 390030: 30,
 333060: 12,
 284210: 6,
 313020: 17,
 312060: 1,
 224030: 2,
 331030: 3,
 284100: 4,
 341130: 11,
 355020: 6,
 354010: 22,
 390028: 2,
 243110: 14,
 333010: 4,
 376010: 8,
 373080: 24,
 332020: 110,
 263140: 7,
 266010: 3,
 258020: 7,
 284133: 13,
 341120: 13,
 290030: 6,
 241050: 31,
 333040: 1,
 285040: 43,
 257070: 18,
 284132: 1,
 243102: 2,
 357140: 3,
 358060: 10,
 221126: 1,
 274020: 6,
 283180: 24,
 266110: 7,
 312131: 2,
 351060: 25,
 258010: 7,
 360060: 19,
 284134: 2,
 284091: 1,
 390070: 1,
 222010: 1,
 312160: 15,
 283220: 32,
 243100: 8,
 372010: 10,
 390020: 22,
 342080: 8,
 333020: 3,
 357080: 16,
 355090: 2,
 290160: 1,
 300040: 6,
 250030: 1,
 263210: 11,
 264110: 11,
 283230: 18,
 371020: 22,
 333030: 2,
 267030: 7,
 345033: 28,
 282020: 9,
 211050: 46,
 264140: 3,
 373050: 8,
 265060: 4,
 357060: 11,
 221080: 7,
 264040: 7,
 290061: 1,
 284140: 18,
 343030: 54,
 241120: 1,
 257010: 4,
 334100: 1,
 382030: 13,
 382020: 4,
 283150: 21,
 390140: 1,
 373060: 14,
 386010: 2,
 357020: 9,
 355030: 8,
 251010: 28,
 257090: 2,
 290180: 2,
 290220: 2,
 382010: 2,
 223050: 2,
 221290: 1,
 263060: 26,
 311270: 7,
 300110: 2,
 386020: 2,
 344080: 3,
 390100: 4,
 250010: 4,
 263320: 42,
 312140: 4,
 300140: 23,
 290310: 2,
 290350: 1,
 341020: 1,
 283140: 12,
 273088: 1,
 290080: 3,
 312090: 18,
 304030: 2,
 253010: 3,
 312180: 3,
 283210: 8,
 212040: 13,
 282040: 2,
 271080: 6,
 345030: 2,
 312150: 12,
 290161: 6,
 253040: 1,
 351030: 12,
 341060: 11,
 314010: 2,
 283190: 52,
 272080: 1,
 263040: 7,
 290320: 12,
 283130: 2,
 263050: 6,
 311210: 6,
 261130: 1,
 355010: 2,
 357130: 2,
 231120: 1,
 261050: 6,
 351110: 1,
 243050: 9,
 285090: 7,
 341001: 2,
 283240: 31,
 211040: 22,
 268010: 5,
 261270: 1,
 275001: 2,
 352040: 3,
 290300: 6,
 290340: 11,
 341110: 16,
 243010: 2,
 357050: 1,
 290050: 2,
 312170: 6,
 250020: 1,
 357160: 2,
 390110: 2,
 311260: 1,
 360120: 54,
 221122: 1,
 221160: 1,
 221170: 2,
 353070: 1,
 374020: 1,
 351100: 2,
 371022: 6,
 282010: 1,
 261150: 4,
 274030: 9,
 284150: 7,
 275060: 1,
 300200: 3,
 224004: 3,
 212020: 2,
 342030: 3,
 222030: 12,
 265070: 12,
 261180: 2,
 358030: 7,
 343050: 7,
 284160: 1,
 271060: 9,
 334140: 3,
 221112: 2,
 358040: 10,
 323080: 7,
 311080: 8,
 211020: 61,
 354004: 4,
 357021: 13,
 211070: 8,
 382110: 2,
 271020: 4,
 252130: 4,
 222160: 4,
 358070: 7,
 323020: 10,
 255050: 1,
 222051: 8,
 383030: 46,
 273050: 4,
 358063: 4,
 322010: 9,
 300050: 15,
 244040: 12,
 390031: 3,
 265050: 5,
 320090: 8,
 353090: 3,
 261251: 2,
 305060: 10,
 373012: 3,
 354040: 5,
 300030: 6,
 284190: 3,
 221100: 4,
 221250: 2,
 290020: 3,
 390010: 2,
 285061: 2,
 320030: 1,
 351070: 2,
 252040: 3,
 272070: 1,
 321030: 28,
 300080: 7,
 265040: 1,
 390015: 1,
 211071: 9,
 342040: 6,
 323110: 5,
 300261: 3,
 253030: 2,
 334130: 2,
 212050: 4,
 283160: 14,
 222020: 1,
 242021: 3,
 284180: 4,
 263130: 27,
 271070: 1,
 252110: 4,
 263260: 2,
 290210: 4,
 321010: 20,
 271040: 4,
 261070: 1,
 290211: 1,
 382080: 16,
 266130: 7,
 343060: 2,
 343080: 1,
 355110: 3,
 285011: 8,
 357121: 5,
 341030: 4,
 358010: 18,
 373100: 1,
 345050: 2,
 244010: 1,
 381040: 1,
 255070: 4,
 355050: 1,
 283270: 29,
 342020: 2,
 222100: 3,
 273090: 1,
 290090: 2,
 344010: 7,
 283080: 7,
 274010: 1,
 342060: 15,
 300121: 2,
 222130: 3,
 213030: 2,
 283030: 67,
 274050: 3,
 241030: 43,
 243090: 2,
 281031: 2,
 322070: 7,
 312130: 5,
 231001: 2,
 344110: 2,
 390041: 1,
 290010: 3,
 243061: 1,
 341100: 27,
 360030: 5,
 213040: 5,
 261020: 2,
 375010: 4,
 385030: 3,
 358050: 5,
 358049: 3,
 282021: 1,
 358023: 3,
 311350: 6,
 251001: 2,
 311050: 2,
 255010: 1,
 290190: 2,
 383060: 4,
 373070: 5,
 357072: 2,
 358090: 2,
 221190: 2,
 221200: 1,
 272050: 1,
 285034: 3,
 353030: 3,
 290040: 1,
 231080: 1,
 352030: 3,
 332040: 22,
 285082: 5,
 222170: 1,
 354031: 1,
 352060: 6,
 263240: 4,
 311390: 3,
 234002: 1,
 285010: 6,
 283290: 1,
 323010: 23,
 352006: 22,
 284060: 7,
 305030: 2,
 257100: 4,
 268063: 1,
 352022: 5,
 222090: 3,
 360140: 1,
 357123: 1,
 332060: 40,
 341024: 1,
 300020: 5,
 300280: 14,
 285060: 5,
 263220: 1,
 374010: 2,
 351012: 8,
 312200: 1,
 358054: 2,
 284050: 19,
 321020: 8,
 265030: 2,
 213020: 27,
 320100: 2,
 245030: 3,
 283050: 26,
 382081: 7,
 263270: 1,
 271011: 3,
 360010: 1,
 221141: 1,
 382100: 9,
 273041: 1,
 282070: 27,
 275110: 2,
 257021: 1,
 354030: 2,
 300450: 3,
 263330: 1,
 255011: 2,
 382090: 10,
 358056: 2,
 245010: 34,
 320150: 2,
 311090: 1,
 283280: 7,
 300190: 31,
 300180: 8,
 346010: 8,
 283131: 2,
 342100: 1,
 211010: 20,
 385050: 3,
 300272: 10,
 372050: 10,
 342160: 1,
 274060: 3,
 222164: 2,
 241020: 2,
 323120: 13,
 241140: 1,
 300122: 6,
 253060: 1,
 273060: 1,
 371040: 9,
 285080: 6,
 211030: 24,
 231070: 3,
 327050: 1,
 341062: 2,
 360110: 4,
 323150: 2,
 231160: 1,
 300550: 3,
 222166: 3,
 357111: 2,
 211042: 3,
 283031: 2,
 313050: 3,
 282043: 4,
 351040: 7,
 353011: 1,
 341096: 1,
 329010: 1,
 358022: 1,
 285081: 7,
 329020: 1,
 344092: 8,
 327040: 1,
 306040: 4,
 231040: 1,
 370030: 5,
 300220: 2,
 320060: 4,
 321040: 15,
 322020: 2,
 231180: 1,
 252100: 2,
 371080: 6,
 360100: 2,
 283271: 8,
 284020: 5,
 282130: 3,
 300551: 1,
 225060: 1,
 315030: 2,
 284030: 5,
 283200: 5,
 214080: 2,
 322110: 11,
 322030: 1,
 231060: 1,
 283002: 3,
 352003: 4,
 281032: 2,
 357122: 8,
 283122: 3,
 352071: 6,
 231090: 2,
 322060: 4,
 244020: 1,
 341080: 8,
 241010: 1,
 300022: 4,
 305050: 1,
 314060: 1,
 300082: 2,
 355012: 6,
 352011: 4,
 241070: 25,
 213010: 2,
 360020: 3,
 323200: 3,
 263291: 1,
 300170: 4,
 358052: 2,
 370010: 10,
 371050: 13,
 212030: 1,
 271031: 3,
 285083: 1,
 214010: 1,
 383040: 11,
 305011: 1,
 221270: 1,
 333050: 4,
 334020: 1,
 334021: 1,
 283060: 3,
 344091: 4,
 357061: 4,
 211003: 1,
 211004: 3,
 324020: 14,
 323160: 1,
 263251: 1,
 358012: 1,
 302030: 5,
 357153: 2,
 324030: 1,
 300053: 3,
 373082: 7,
 355011: 8,
 352021: 4,
 254020: 1,
 282091: 1,
 320180: 1,
 275080: 2,
 305040: 3,
 300560: 1,
 300210: 2,
 300221: 1,
 300160: 2,
 300123: 5,
 358024: 1,
 354005: 1,
 214090: 3,
 214020: 2,
 283100: 10,
 312100: 1,
 300512: 1,
 300124: 2,
 351021: 4,
 373090: 3,
 351090: 4,
 382001: 2,
 322040: 2,
 342120: 1,
 390013: 1,
 315001: 1,
 285032: 2,
 255030: 6,
 211080: 2,
 300552: 1,
 311140: 3,
 327120: 2,
 341091: 7,
 331011: 1,
 231110: 1,
 341095: 1,
 358062: 2,
 322190: 1,
 354050: 1,
 341070: 1,
 300700: 1,
 311111: 3,
 312190: 1,
 312050: 1,
 214070: 1,
 312080: 1,
 382040: 1,
 225030: 1,
 300680: 1,
 283262: 2,
 213004: 5,
 223001: 2,
 328010: 1,
 315040: 3,
 300511: 1,
 331040: 1,
 355210: 1,
 352031: 1,
 332030: 6,
 322100: 1,
 322160: 5,
 259010: 4,
 225050: 6,
 303010: 1,
 306030: 3,
 214100: 1,
 341061: 1,
 283142: 1,
 324040: 1,
 327110: 1,
 371070: 3,
 283151: 1,
 300671: 1,
 331010: 2,
 371060: 11,
 273042: 1,
 300084: 1,
 300650: 1,
 210040: 1,
 352002: 1,
 312250: 2,
 341098: 1,
 357093: 4,
 210020: 8,
 300021: 1,
 284041: 2,
 354000: 1,
 300150: 2,
 341093: 1,
 382120: 1,
 300273: 1,
 284011: 1,
 283143: 1,
 357063: 1,
 285031: 1,
 252150: 1,
 357112: 1,
 300271: 1,
 222052: 3,
 357066: 1,
 241021: 2,
 302060: 1,
 320140: 1,
 355109: 1,
 300360: 1,
 283250: 2,
 232010: 1,
 351011: 2,
 390027: 3,
 352004: 1,
 358080: 1,
 322170: 1,
 321060: 2,
 322090: 1,
 285041: 1,
 222060: 2,
 233014: 2,
 282081: 2,
 321070: 1,
 300023: 2,
 222040: 1,
 352001: 1,
 213002: 2,
 283001: 1,
 357041: 1,
 320080: 1,
 300520: 1,
 290041: 1,
 300590: 1,
 222053: 1,
 311380: 1,
 343150: 2,
 211031: 1,
 223040: 1,
 264080: 1,
 300083: 1,
 320200: 1,
 210010: 2,
 390022: 1,
 324010: 1,
 327812: 3,
 283141: 1,
 222161: 1,
 210030: 0,
 211041: 0,
 212051: 0,
 213000: 0,
 213001: 0,
 213003: 0,
 213011: 0,
 214050: 0,
 214060: 0,
 221021: 0,
 221022: 0,
 221040: 0,
 221050: 0,
 221071: 0,
 221090: 0,
 221091: 0,
 221102: 0,
 221103: 0,
 221104: 0,
 221105: 0,
 221106: 0,
 221107: 0,
 221110: 0,
 221111: 0,
 221114: 0,
 221116: 0,
 221120: 0,
 221123: 0,
 221124: 0,
 221125: 0,
 221127: 0,
 221150: 0,
 221151: 0,
 221171: 0,
 221172: 0,
 221180: 0,
 221191: 0,
 221210: 0,
 221220: 0,
 221222: 0,
 221230: 0,
 221240: 0,
 221251: 0,
 221252: 0,
 221260: 0,
 221280: 0,
 221291: 0,
 221292: 0,
 221294: 0,
 221311: 0,
 221320: 0,
 221330: 0,
 222001: 0,
 222021: 0,
 222050: 0,
 222054: 0,
 222055: 0,
 222056: 0,
 222070: 0,
 222071: 0,
 222080: 0,
 222110: 0,
 223002: 0,
 223003: 0,
 223004: 0,
 223005: 0,
 223060: 0,
 223070: 0,
 224002: 0,
 224003: 0,
 224011: 0,
 225001: 0,
 225004: 0,
 225005: 0,
 225006: 0,
 225009: 0,
 225010: 0,
 225020: 0,
 225021: 0,
 225040: 0,
 230010: 0,
 231050: 0,
 231071: 0,
 231072: 0,
 ...}

In [41]:
#Find the one damn key that is throwing eveyrthing off!
volcano_nums, keys = df2['Volcano Number'].values, num_eruptions_dict.keys()
for key in keys:
    if key not in volcano_nums: print(key)

In [42]:
nums = df2['Volcano Number']
nums

0       210010
1       210020
2       210030
3       210040
4       211003
         ...
1332    390120
1333    390130
1334    390140
1335    390829
1336    390847
Name: Volcano Number, Length: 1337, dtype: int64

In [43]:
df2[df2['Volcano Name'] == 'Nila']

,Volcano Number,Volcano Name,Country,Recoded Volcano Type,Region,Recoded Dominant Rock Type,Tectonic Setting,Elevation (m),Latitude,Longitude
423,265060,Nila,Indonesia,Stratovolcano,Indonesia,Andesite / Basaltic Andesite,Subduction zone / Oceanic crust (< 15 km),781,-6.73,129.5

In [44]:
df1

,Volcano Number,Volcano Name,VEI,Eruption Category,Latitude,Longitude
0,264050,Sangeang Api,NaN,Confirmed Eruption,-8.200,119.070
1,262000,Krakatau,NaN,Confirmed Eruption,-6.102,105.423
2,264260,"Tara, Batu",NaN,Uncertain Eruption,-7.791,123.585
3,290360,Chikurachki,NaN,Confirmed Eruption,50.324,155.461
4,257040,Ambrym,NaN,Confirmed Eruption,-16.250,168.120
...,...,...,...,...,...,...
11186,343150,"Yojoa, Lago",NaN,Confirmed Eruption,14.964,-87.983
11187,357121,Quetrupillan,3.0,Confirmed Eruption,-39.496,-71.722
11188,390090,Saunders,0.0,Confirmed Eruption,-57.800,-26.483
11189,233020,"Fournaise, Piton de la",NaN,Confirmed Eruption,-21.244,55.708
11190,267020,Karangetang,NaN,Confirmed Eruption,2.781,125.407

In [45]:
#df2['Number of Eruptions'] = num_eruptions_dict

In [46]:
merged_df = df1.merge(df2[['Volcano Number','Country', 'Recoded Volcano Type', 'Region', 'Recoded Dominant Rock Type', 'Tectonic Setting', 'Elevation (m)']])

In [47]:
merged_df

,Volcano Number,Volcano Name,VEI,Eruption Category,Latitude,Longitude,Country,Recoded Volcano Type,Region,Recoded Dominant Rock Type,Tectonic Setting,Elevation (m)
0,264050,Sangeang Api,NaN,Confirmed Eruption,-8.200,119.070,Indonesia,Complex,Indonesia,Trachybasalt / Tephrite Basanite,Subduction zone / Continental crust (>25 km),1912
1,264050,Sangeang Api,2.0,Confirmed Eruption,-8.200,119.070,Indonesia,Complex,Indonesia,Trachybasalt / Tephrite Basanite,Subduction zone / Continental crust (>25 km),1912
2,264050,Sangeang Api,3.0,Confirmed Eruption,-8.200,119.070,Indonesia,Complex,Indonesia,Trachybasalt / Tephrite Basanite,Subduction zone / Continental crust (>25 km),1912
3,264050,Sangeang Api,NaN,Uncertain Eruption,-8.200,119.070,Indonesia,Complex,Indonesia,Trachybasalt / Tephrite Basanite,Subduction zone / Continental crust (>25 km),1912
4,264050,Sangeang Api,2.0,Confirmed Eruption,-8.200,119.070,Indonesia,Complex,Indonesia,Trachybasalt / Tephrite Basanite,Subduction zone / Continental crust (>25 km),1912
...,...,...,...,...,...,...,...,...,...,...,...,...
11109,327812,Red Hill,NaN,Confirmed Eruption,34.250,-108.830,United States,Volcanic field,Canada and Western USA,Basalt / Picro-Basalt,Rift zone / Continental crust (>25 km),2300
11110,327812,Red Hill,NaN,Confirmed Eruption,34.250,-108.830,United States,Volcanic field,Canada and Western USA,Basalt / Picro-Basalt,Rift zone / Continental crust (>25 km),2300
11111,327812,Red Hill,NaN,Confirmed Eruption,34.250,-108.830,United States,Volcanic field,Canada and Western USA,Basalt / Picro-Basalt,Rift zone / Continental crust (>25 km),2300
11112,283141,Nantaisan,NaN,Confirmed Eruption,36.765,139.491,Japan,Stratovolcano,"Japan, Taiwan, Marianas",Andesite / Basaltic Andesite,Subduction zone / Continental crust (>25 km),2486
11113,222161,Igwisi Hills,1.0,Confirmed Eruption,-4.889,31.933,Tanzania,Pyroclastic cone,Africa and Red Sea,Foidite,Rift zone / Continental crust (>25 km),1146

In [48]:
df1[df1['Volcano Name'] == 'Pinatubo']

,Volcano Number,Volcano Name,VEI,Eruption Category,Latitude,Longitude
9,273083,Pinatubo,NaN,Confirmed Eruption,15.13,120.35
1162,273083,Pinatubo,1.0,Confirmed Eruption,15.13,120.35
1184,273083,Pinatubo,1.0,Confirmed Eruption,15.13,120.35
1234,273083,Pinatubo,6.0,Confirmed Eruption,15.13,120.35
7622,273083,Pinatubo,5.0,Confirmed Eruption,15.13,120.35
9348,273083,Pinatubo,6.0,Confirmed Eruption,15.13,120.35
10113,273083,Pinatubo,6.0,Confirmed Eruption,15.13,120.35
10884,273083,Pinatubo,NaN,Confirmed Eruption,15.13,120.35
10973,273083,Pinatubo,6.0,Confirmed Eruption,15.13,120.35

In [49]:
df2[df2['Volcano Name']=='Pinatubo']

,Volcano Number,Volcano Name,Country,Recoded Volcano Type,Region,Recoded Dominant Rock Type,Tectonic Setting,Elevation (m),Latitude,Longitude
483,273083,Pinatubo,Philippines,Stratovolcano,Philippines and SE Asia,Dacite,Subduction zone / Continental crust (>25 km),1486,15.13,120.35

In [50]:
merged_df[merged_df['Volcano Name']=='Pinatubo']

,Volcano Number,Volcano Name,VEI,Eruption Category,Latitude,Longitude,Country,Recoded Volcano Type,Region,Recoded Dominant Rock Type,Tectonic Setting,Elevation (m)
398,273083,Pinatubo,NaN,Confirmed Eruption,15.13,120.35,Philippines,Stratovolcano,Philippines and SE Asia,Dacite,Subduction zone / Continental crust (>25 km),1486
399,273083,Pinatubo,1.0,Confirmed Eruption,15.13,120.35,Philippines,Stratovolcano,Philippines and SE Asia,Dacite,Subduction zone / Continental crust (>25 km),1486
400,273083,Pinatubo,1.0,Confirmed Eruption,15.13,120.35,Philippines,Stratovolcano,Philippines and SE Asia,Dacite,Subduction zone / Continental crust (>25 km),1486
401,273083,Pinatubo,6.0,Confirmed Eruption,15.13,120.35,Philippines,Stratovolcano,Philippines and SE Asia,Dacite,Subduction zone / Continental crust (>25 km),1486
402,273083,Pinatubo,5.0,Confirmed Eruption,15.13,120.35,Philippines,Stratovolcano,Philippines and SE Asia,Dacite,Subduction zone / Continental crust (>25 km),1486
403,273083,Pinatubo,6.0,Confirmed Eruption,15.13,120.35,Philippines,Stratovolcano,Philippines and SE Asia,Dacite,Subduction zone / Continental crust (>25 km),1486
404,273083,Pinatubo,6.0,Confirmed Eruption,15.13,120.35,Philippines,Stratovolcano,Philippines and SE Asia,Dacite,Subduction zone / Continental crust (>25 km),1486
405,273083,Pinatubo,NaN,Confirmed Eruption,15.13,120.35,Philippines,Stratovolcano,Philippines and SE Asia,Dacite,Subduction zone / Continental crust (>25 km),1486
406,273083,Pinatubo,6.0,Confirmed Eruption,15.13,120.35,Philippines,Stratovolcano,Philippines and SE Asia,Dacite,Subduction zone / Continental crust (>25 km),1486

In [51]:
count_null(merged_df)

[{'Volcano Number': 0},
 {'Volcano Name': 0},
 {'VEI': 2831},
 {'Eruption Category': 0},
 {'Latitude': 0},
 {'Longitude': 0},
 {'Country': 0},
 {'Recoded Volcano Type': 0},
 {'Region': 0},
 {'Recoded Dominant Rock Type': 31},
 {'Tectonic Setting': 3},
 {'Elevation (m)': 0}]

In [52]:
# Throw out samples that are missing dominant rock type or tectonic setting.  There are only a few and these should
# not throw off any analysis
#rocks, bad_indices = merged_df['Recoded Dominant Rock Type'].values, []
#for i in range(len(rocks)): # entries in this column are strings.  Missing values are nan, which is not a string
#    if type(rocks[i]) != str: bad_indices.append(i)
#merged_df.drop(index=bad_indices, inplace=True)

In [53]:
count_null(merged_df)

[{'Volcano Number': 0},
 {'Volcano Name': 0},
 {'VEI': 2831},
 {'Eruption Category': 0},
 {'Latitude': 0},
 {'Longitude': 0},
 {'Country': 0},
 {'Recoded Volcano Type': 0},
 {'Region': 0},
 {'Recoded Dominant Rock Type': 31},
 {'Tectonic Setting': 3},
 {'Elevation (m)': 0}]

In [54]:
merged_df

,Volcano Number,Volcano Name,VEI,Eruption Category,Latitude,Longitude,Country,Recoded Volcano Type,Region,Recoded Dominant Rock Type,Tectonic Setting,Elevation (m)
0,264050,Sangeang Api,NaN,Confirmed Eruption,-8.200,119.070,Indonesia,Complex,Indonesia,Trachybasalt / Tephrite Basanite,Subduction zone / Continental crust (>25 km),1912
1,264050,Sangeang Api,2.0,Confirmed Eruption,-8.200,119.070,Indonesia,Complex,Indonesia,Trachybasalt / Tephrite Basanite,Subduction zone / Continental crust (>25 km),1912
2,264050,Sangeang Api,3.0,Confirmed Eruption,-8.200,119.070,Indonesia,Complex,Indonesia,Trachybasalt / Tephrite Basanite,Subduction zone / Continental crust (>25 km),1912
3,264050,Sangeang Api,NaN,Uncertain Eruption,-8.200,119.070,Indonesia,Complex,Indonesia,Trachybasalt / Tephrite Basanite,Subduction zone / Continental crust (>25 km),1912
4,264050,Sangeang Api,2.0,Confirmed Eruption,-8.200,119.070,Indonesia,Complex,Indonesia,Trachybasalt / Tephrite Basanite,Subduction zone / Continental crust (>25 km),1912
...,...,...,...,...,...,...,...,...,...,...,...,...
11109,327812,Red Hill,NaN,Confirmed Eruption,34.250,-108.830,United States,Volcanic field,Canada and Western USA,Basalt / Picro-Basalt,Rift zone / Continental crust (>25 km),2300
11110,327812,Red Hill,NaN,Confirmed Eruption,34.250,-108.830,United States,Volcanic field,Canada and Western USA,Basalt / Picro-Basalt,Rift zone / Continental crust (>25 km),2300
11111,327812,Red Hill,NaN,Confirmed Eruption,34.250,-108.830,United States,Volcanic field,Canada and Western USA,Basalt / Picro-Basalt,Rift zone / Continental crust (>25 km),2300
11112,283141,Nantaisan,NaN,Confirmed Eruption,36.765,139.491,Japan,Stratovolcano,"Japan, Taiwan, Marianas",Andesite / Basaltic Andesite,Subduction zone / Continental crust (>25 km),2486
11113,222161,Igwisi Hills,1.0,Confirmed Eruption,-4.889,31.933,Tanzania,Pyroclastic cone,Africa and Red Sea,Foidite,Rift zone / Continental crust (>25 km),1146

In [55]:
# Save a copy of the merged_df into a csv file before imputation
merged_df.to_csv('merged_info_volcanoes.csv', index = False)

In [56]:
# Now that we have a dataframe that has all of the relevant volcano information, we can try some imputation to see 
# if it will improve later models
imputer = KNNImputer(n_neighbors=2)
imputer

KNNImputer(n_neighbors=2)

In [57]:
cols = [
    'Volcano Number',
    'VEI',
    'Latitude',
    'Longitude',
    'Country',
    'Recoded Volcano Type',
    'Region',
    'Recoded Dominant Rock Type',
    'Tectonic Setting',
    'Elevation (m)',
]

In [58]:
imputin = merged_df[cols]
#impute_df[cols]
imputin

,Volcano Number,VEI,Latitude,Longitude,Country,Recoded Volcano Type,Region,Recoded Dominant Rock Type,Tectonic Setting,Elevation (m)
0,264050,NaN,-8.200,119.070,Indonesia,Complex,Indonesia,Trachybasalt / Tephrite Basanite,Subduction zone / Continental crust (>25 km),1912
1,264050,2.0,-8.200,119.070,Indonesia,Complex,Indonesia,Trachybasalt / Tephrite Basanite,Subduction zone / Continental crust (>25 km),1912
2,264050,3.0,-8.200,119.070,Indonesia,Complex,Indonesia,Trachybasalt / Tephrite Basanite,Subduction zone / Continental crust (>25 km),1912
3,264050,NaN,-8.200,119.070,Indonesia,Complex,Indonesia,Trachybasalt / Tephrite Basanite,Subduction zone / Continental crust (>25 km),1912
4,264050,2.0,-8.200,119.070,Indonesia,Complex,Indonesia,Trachybasalt / Tephrite Basanite,Subduction zone / Continental crust (>25 km),1912
...,...,...,...,...,...,...,...,...,...,...
11109,327812,NaN,34.250,-108.830,United States,Volcanic field,Canada and Western USA,Basalt / Picro-Basalt,Rift zone / Continental crust (>25 km),2300
11110,327812,NaN,34.250,-108.830,United States,Volcanic field,Canada and Western USA,Basalt / Picro-Basalt,Rift zone / Continental crust (>25 km),2300
11111,327812,NaN,34.250,-108.830,United States,Volcanic field,Canada and Western USA,Basalt / Picro-Basalt,Rift zone / Continental crust (>25 km),2300
11112,283141,NaN,36.765,139.491,Japan,Stratovolcano,"Japan, Taiwan, Marianas",Andesite / Basaltic Andesite,Subduction zone / Continental crust (>25 km),2486
11113,222161,1.0,-4.889,31.933,Tanzania,Pyroclastic cone,Africa and Red Sea,Foidite,Rift zone / Continental crust (>25 km),1146

In [59]:
nominal_cols =[
    'Country',
    'Recoded Volcano Type',
    'Region',
    'Recoded Dominant Rock Type',
    'Tectonic Setting',
]

In [60]:
imputin = pd.get_dummies(imputin, columns=nominal_cols)

In [61]:
imputin

,Volcano Number,VEI,Latitude,Longitude,Elevation (m),Country_Antarctica,Country_Argentina,Country_Armenia,Country_Armenia-Azerbaijan,Country_Australia,...,Tectonic Setting_Intraplate / Continental crust (>25 km),Tectonic Setting_Intraplate / Intermediate crust (15-25 km),Tectonic Setting_Intraplate / Oceanic crust (< 15 km),Tectonic Setting_Rift zone / Continental crust (>25 km),Tectonic Setting_Rift zone / Intermediate crust (15-25 km),Tectonic Setting_Rift zone / Oceanic crust (< 15 km),Tectonic Setting_Subduction zone / Continental crust (>25 km),Tectonic Setting_Subduction zone / Crustal thickness unknown,Tectonic Setting_Subduction zone / Intermediate crust (15-25 km),Tectonic Setting_Subduction zone / Oceanic crust (< 15 km)
0,264050,NaN,-8.200,119.070,1912,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,264050,2.0,-8.200,119.070,1912,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,264050,3.0,-8.200,119.070,1912,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,264050,NaN,-8.200,119.070,1912,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,264050,2.0,-8.200,119.070,1912,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11109,327812,NaN,34.250,-108.830,2300,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
11110,327812,NaN,34.250,-108.830,2300,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
11111,327812,NaN,34.250,-108.830,2300,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
11112,283141,NaN,36.765,139.491,2486,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
11113,222161,1.0,-4.889,31.933,1146,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [62]:
imputed_columns = imputer.fit_transform(imputin)

In [63]:
imputed_df = pd.DataFrame(imputed_columns, columns=imputin.columns)

In [64]:
imputed_df

,Volcano Number,VEI,Latitude,Longitude,Elevation (m),Country_Antarctica,Country_Argentina,Country_Armenia,Country_Armenia-Azerbaijan,Country_Australia,...,Tectonic Setting_Intraplate / Continental crust (>25 km),Tectonic Setting_Intraplate / Intermediate crust (15-25 km),Tectonic Setting_Intraplate / Oceanic crust (< 15 km),Tectonic Setting_Rift zone / Continental crust (>25 km),Tectonic Setting_Rift zone / Intermediate crust (15-25 km),Tectonic Setting_Rift zone / Oceanic crust (< 15 km),Tectonic Setting_Subduction zone / Continental crust (>25 km),Tectonic Setting_Subduction zone / Crustal thickness unknown,Tectonic Setting_Subduction zone / Intermediate crust (15-25 km),Tectonic Setting_Subduction zone / Oceanic crust (< 15 km)
0,264050.0,2.5,-8.200,119.070,1912.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,264050.0,2.0,-8.200,119.070,1912.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,264050.0,3.0,-8.200,119.070,1912.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,264050.0,2.5,-8.200,119.070,1912.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,264050.0,2.0,-8.200,119.070,1912.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11109,327812.0,1.0,34.250,-108.830,2300.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
11110,327812.0,1.0,34.250,-108.830,2300.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
11111,327812.0,1.0,34.250,-108.830,2300.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
11112,283141.0,4.5,36.765,139.491,2486.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
11113,222161.0,1.0,-4.889,31.933,1146.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [65]:
count_null(imputed_df)

[{'Volcano Number': 0},
 {'VEI': 0},
 {'Latitude': 0},
 {'Longitude': 0},
 {'Elevation (m)': 0},
 {'Country_Antarctica': 0},
 {'Country_Argentina': 0},
 {'Country_Armenia': 0},
 {'Country_Armenia-Azerbaijan': 0},
 {'Country_Australia': 0},
 {'Country_Burma (Myanmar)': 0},
 {'Country_Cameroon': 0},
 {'Country_Canada': 0},
 {'Country_Cape Verde': 0},
 {'Country_Chile': 0},
 {'Country_Chile-Argentina': 0},
 {'Country_Chile-Bolivia': 0},
 {'Country_Chile-Peru': 0},
 {'Country_China': 0},
 {'Country_China-North Korea': 0},
 {'Country_Colombia': 0},
 {'Country_Colombia-Ecuador': 0},
 {'Country_Comoros': 0},
 {'Country_Costa Rica': 0},
 {'Country_DR Congo': 0},
 {'Country_DR Congo-Rwanda': 0},
 {'Country_Djibouti': 0},
 {'Country_Dominica': 0},
 {'Country_Ecuador': 0},
 {'Country_El Salvador': 0},
 {'Country_Equatorial Guinea': 0},
 {'Country_Eritrea': 0},
 {'Country_Ethiopia': 0},
 {'Country_Ethiopia-Djibouti': 0},
 {'Country_Fiji': 0},
 {'Country_France': 0},
 {'Country_Georgia': 0},
 {'Country_Germany': 0},
 {'Country_Greece': 0},
 {'Country_Grenada': 0},
 {'Country_Guatemala': 0},
 {'Country_Honduras': 0},
 {'Country_Iceland': 0},
 {'Country_India': 0},
 {'Country_Indonesia': 0},
 {'Country_Iran': 0},
 {'Country_Italy': 0},
 {'Country_Japan': 0},
 {'Country_Japan - administered by Russia': 0},
 {'Country_Kenya': 0},
 {'Country_Madagascar': 0},
 {'Country_Mexico': 0},
 {'Country_Mexico-Guatemala': 0},
 {'Country_Mongolia': 0},
 {'Country_Netherlands': 0},
 {'Country_New Zealand': 0},
 {'Country_Nicaragua': 0},
 {'Country_Norway': 0},
 {'Country_Panama': 0},
 {'Country_Papua New Guinea': 0},
 {'Country_Peru': 0},
 {'Country_Philippines': 0},
 {'Country_Portugal': 0},
 {'Country_Russia': 0},
 {'Country_Saint Kitts and Nevis': 0},
 {'Country_Saint Lucia': 0},
 {'Country_Saint Vincent and the Grenadines': 0},
 {'Country_Samoa': 0},
 {'Country_Saudi Arabia': 0},
 {'Country_Solomon Islands': 0},
 {'Country_South Africa': 0},
 {'Country_South Korea': 0},
 {'Country_Spain': 0},
 {'Country_Sudan': 0},
 {'Country_Syria-Jordan-Saudi Arabia': 0},
 {'Country_Taiwan': 0},
 {'Country_Tanzania': 0},
 {'Country_Tonga': 0},
 {'Country_Turkey': 0},
 {'Country_Uganda': 0},
 {'Country_Undersea Features': 0},
 {'Country_United Kingdom': 0},
 {'Country_United States': 0},
 {'Country_Vanuatu': 0},
 {'Country_Vietnam': 0},
 {'Country_Yemen': 0},
 {'Recoded Volcano Type_Caldera': 0},
 {'Recoded Volcano Type_Complex': 0},
 {'Recoded Volcano Type_Compound': 0},
 {'Recoded Volcano Type_Fissure vent': 0},
 {'Recoded Volcano Type_Lava dome': 0},
 {'Recoded Volcano Type_Maar': 0},
 {'Recoded Volcano Type_Other': 0},
 {'Recoded Volcano Type_Pyroclastic cone': 0},
 {'Recoded Volcano Type_Shield': 0},
 {'Recoded Volcano Type_Stratovolcano': 0},
 {'Recoded Volcano Type_Submarine': 0},
 {'Recoded Volcano Type_Volcanic field': 0},
 {'Region_Africa and Red Sea': 0},
 {'Region_Alaska': 0},
 {'Region_Antarctica': 0},
 {'Region_Atlantic Ocean': 0},
 {'Region_Canada and Western USA': 0},
 {'Region_Hawaii and Pacific Ocean': 0},
 {'Region_Iceland and Arctic Ocean': 0},
 {'Region_Indonesia': 0},
 {'Region_Japan, Taiwan, Marianas': 0},
 {'Region_Kamchatka and Mainland Asia': 0},
 {'Region_Kuril Islands': 0},
 {'Region_Mediterranean and Western Asia': 0},
 {'Region_Melanesia and Australia': 0},
 {'Region_Middle East and Indian Ocean': 0},
 {'Region_México and Central America': 0},
 {'Region_New Zealand to Fiji': 0},
 {'Region_Philippines and SE Asia': 0},
 {'Region_South America': 0},
 {'Region_West Indies': 0},
 {'Recoded Dominant Rock Type_Andesite / Basaltic Andesite': 0},
 {'Recoded Dominant Rock Type_Basalt / Picro-Basalt': 0},
 {'Recoded Dominant Rock Type_Dacite': 0},
 {'Recoded Dominant Rock Type_Foidite': 0},
 {'Recoded Dominant Rock Type_No Data (checked)': 0},
 {'Recoded Dominant Rock Type_Other': 0},
 {'Recoded Dominant Rock Type_Rhyolite': 0},
 {'Recoded Dominant Rock Type_Trachyandesite / Basaltic Trachyandesite': 0},
 {'Recoded Dominant Rock Type_Trachybasalt / Tephrite Basanite': 0},
 {'Recoded Dominant Rock Type_Trachyte / Trachydacite': 0},
 {'Tectonic Setting_Intraplate / Continental crust (>25 km)': 0},
 {'Tectonic Setting_Intraplate / Intermediate crust (15-25 km)': 0},
 {'Tectonic Setting_Intraplate / Oceanic crust (< 15 km)': 0},
 {'Tectonic Setting_Rift zone / Continental crust (>25 km)': 0},
 {'Tectonic Setting_Rift zone / Intermediate crust (15-25 km)': 0},
 {'Tectonic Setting_Rift zone / Oceanic crust (< 15 km)': 0},
 {'Tectonic Setting_Subduction zone / Continental crust (>25 km)': 0},
 {'Tectonic Setting_Subduction zone / Crustal thickness unknown': 0},
 {'Tectonic Setting_Subduction zone / Intermediate crust (15-25 km)': 0},
 {'Tectonic Setting_Subduction zone / Oceanic crust (< 15 km)': 0}]

In [66]:
imputed_df['VEI'] = round(imputed_df['VEI'])
imputed_df['VEI'].value_counts()

2.0    5434
1.0    1735
3.0    1491
0.0    1286
4.0     900
5.0     196
6.0      65
7.0       7
Name: VEI, dtype: int64

In [67]:
imputed_df

,Volcano Number,VEI,Latitude,Longitude,Elevation (m),Country_Antarctica,Country_Argentina,Country_Armenia,Country_Armenia-Azerbaijan,Country_Australia,...,Tectonic Setting_Intraplate / Continental crust (>25 km),Tectonic Setting_Intraplate / Intermediate crust (15-25 km),Tectonic Setting_Intraplate / Oceanic crust (< 15 km),Tectonic Setting_Rift zone / Continental crust (>25 km),Tectonic Setting_Rift zone / Intermediate crust (15-25 km),Tectonic Setting_Rift zone / Oceanic crust (< 15 km),Tectonic Setting_Subduction zone / Continental crust (>25 km),Tectonic Setting_Subduction zone / Crustal thickness unknown,Tectonic Setting_Subduction zone / Intermediate crust (15-25 km),Tectonic Setting_Subduction zone / Oceanic crust (< 15 km)
0,264050.0,2.0,-8.200,119.070,1912.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,264050.0,2.0,-8.200,119.070,1912.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,264050.0,3.0,-8.200,119.070,1912.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,264050.0,2.0,-8.200,119.070,1912.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,264050.0,2.0,-8.200,119.070,1912.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11109,327812.0,1.0,34.250,-108.830,2300.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
11110,327812.0,1.0,34.250,-108.830,2300.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
11111,327812.0,1.0,34.250,-108.830,2300.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
11112,283141.0,4.0,36.765,139.491,2486.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
11113,222161.0,1.0,-4.889,31.933,1146.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [68]:
merged_df

,Volcano Number,Volcano Name,VEI,Eruption Category,Latitude,Longitude,Country,Recoded Volcano Type,Region,Recoded Dominant Rock Type,Tectonic Setting,Elevation (m)
0,264050,Sangeang Api,NaN,Confirmed Eruption,-8.200,119.070,Indonesia,Complex,Indonesia,Trachybasalt / Tephrite Basanite,Subduction zone / Continental crust (>25 km),1912
1,264050,Sangeang Api,2.0,Confirmed Eruption,-8.200,119.070,Indonesia,Complex,Indonesia,Trachybasalt / Tephrite Basanite,Subduction zone / Continental crust (>25 km),1912
2,264050,Sangeang Api,3.0,Confirmed Eruption,-8.200,119.070,Indonesia,Complex,Indonesia,Trachybasalt / Tephrite Basanite,Subduction zone / Continental crust (>25 km),1912
3,264050,Sangeang Api,NaN,Uncertain Eruption,-8.200,119.070,Indonesia,Complex,Indonesia,Trachybasalt / Tephrite Basanite,Subduction zone / Continental crust (>25 km),1912
4,264050,Sangeang Api,2.0,Confirmed Eruption,-8.200,119.070,Indonesia,Complex,Indonesia,Trachybasalt / Tephrite Basanite,Subduction zone / Continental crust (>25 km),1912
...,...,...,...,...,...,...,...,...,...,...,...,...
11109,327812,Red Hill,NaN,Confirmed Eruption,34.250,-108.830,United States,Volcanic field,Canada and Western USA,Basalt / Picro-Basalt,Rift zone / Continental crust (>25 km),2300
11110,327812,Red Hill,NaN,Confirmed Eruption,34.250,-108.830,United States,Volcanic field,Canada and Western USA,Basalt / Picro-Basalt,Rift zone / Continental crust (>25 km),2300
11111,327812,Red Hill,NaN,Confirmed Eruption,34.250,-108.830,United States,Volcanic field,Canada and Western USA,Basalt / Picro-Basalt,Rift zone / Continental crust (>25 km),2300
11112,283141,Nantaisan,NaN,Confirmed Eruption,36.765,139.491,Japan,Stratovolcano,"Japan, Taiwan, Marianas",Andesite / Basaltic Andesite,Subduction zone / Continental crust (>25 km),2486
11113,222161,Igwisi Hills,1.0,Confirmed Eruption,-4.889,31.933,Tanzania,Pyroclastic cone,Africa and Red Sea,Foidite,Rift zone / Continental crust (>25 km),1146

In [69]:
vei = imputed_df['VEI']
print(len(vei))
print(len(merged_df['VEI']))
vei.value_counts()

11114
11114

2.0    5434
1.0    1735
3.0    1491
0.0    1286
4.0     900
5.0     196
6.0      65
7.0       7
Name: VEI, dtype: int64

In [70]:
vei[-31:]

11083    2.0
11084    7.0
11085    4.0
11086    2.0
11087    5.0
11088    2.0
11089    2.0
11090    3.0
11091    2.0
11092    0.0
11093    4.0
11094    6.0
11095    4.0
11096    4.0
11097    5.0
11098    4.0
11099    4.0
11100    0.0
11101    2.0
11102    2.0
11103    2.0
11104    3.0
11105    2.0
11106    2.0
11107    0.0
11108    0.0
11109    1.0
11110    1.0
11111    1.0
11112    4.0
11113    1.0
Name: VEI, dtype: float64

In [71]:
merged_df['VEI'].isnull().sum()

2831

In [72]:
merged_df['VEI'] = vei

In [73]:
merged_df['VEI']

0        2.0
1        2.0
2        3.0
3        2.0
4        2.0
        ...
11109    1.0
11110    1.0
11111    1.0
11112    4.0
11113    1.0
Name: VEI, Length: 11114, dtype: float64

In [74]:
count_null(merged_df)

[{'Volcano Number': 0},
 {'Volcano Name': 0},
 {'VEI': 0},
 {'Eruption Category': 0},
 {'Latitude': 0},
 {'Longitude': 0},
 {'Country': 0},
 {'Recoded Volcano Type': 0},
 {'Region': 0},
 {'Recoded Dominant Rock Type': 31},
 {'Tectonic Setting': 3},
 {'Elevation (m)': 0}]

In [75]:
# Save a copy of the merged_df into a csv file before imputation
merged_df.to_csv('imputed_volcanoes.csv', index = False)